html[data-mode='light'] {
  color: black;
}

html[data-mode='black'] {
  --text-color: white;
}


body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #e2dede;
  color: var(--text-color);
}

body a {
  margin-left: 5px;
  color: #3498db;
  text-decoration: none;
  transition: color 1s 0s;
}

body a:hover {
  text-decoration: underline;
  color: red;
}

.link {
  color: black;
}

header {
  display: flex;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
header {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #3498db;
}

header section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #2c3e50;
  margin-bottom: 5px;
}
h2 {
  color: #3498db;
  border-bottom: 1px solid rgba(0, 128, 0, 0.3);
  padding-bottom: 5px;
}

.me_and_photo {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.me_and_photo img {
  margin-top: 10px;
  border-radius: 50px;
}

.about_me {
  display: flex;
  margin-top: 0.5em;
  gap: 10px;
  flex-direction: column;
}

.about_me span {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section {
  margin-bottom: 20px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;

  gap: 10px;
}

.skill {
  background-color: rgb(247, 236, 236);
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  
}

#paragraph-about-me {
  margin: 0;
}

code {
  background-color: rgba(0,0,0, 0.2);
  border-radius: 10%;
  padding: 0.2rem;
  font-weight: bold;
}

.animate-border {
  position: relative;
  animation: border-animation 1.5s ease infinite;
}

@keyframes border-animation {
  0% {
    outline: 2px solid rgb(169, 140, 140);
  }
  33% {
    outline: 2px solid rgb(151, 142, 142);
  }
  66% {
    outline: 2px solid rgb(82, 76, 76);
  }
  100% {
    outline: 2px solid rgb(97, 84, 84)0000;
  }
}

.project {
  margin-bottom: 15px;
}

.job {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.job ul {
  margin-left: 1em;
}

.tooltip {
  display: none;
}

.skill:hover .tooltip {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  transform: translateY(35px);
}

.skill:hover .tooltip::before {
 content: "";
 position: absolute;
 top: -10px;
 left: 50%;
 border-width: 5px;
 border-style: solid;
 border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
}


.tooltip .tooltip-text-bottom {
  margin: 0;
  padding: 0;
  border-radius: 1rem;
  display: none;

}

.tooltip .tooltip-text-bottom:hover {
  border-radius: 1rem;
  visibility: visible;
  
}

@keyframes rotate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#pulse-logo {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 20px;
  background-color: green;
  animation: pulse-logo 0.5s ease-in-out infinite alternate;
}

@keyframes pulse-logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body > header {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: grey;
  justify-content: space-between;
}

.logo {
  margin-left: 2rem;
}

.links {
  margin-right: 20rem
}