body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f5eaea;
  color: #333;
}

body a {
  margin-left: 5px;
  color: #3498db;
  text-decoration: none;
  transition: color 1s 0s;
}

body a:hover {
  text-decoration: underline;
  color: red;
}

.link {
  color: black;
}

header {
  display: flex;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
header {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #3498db;
}

header section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #2c3e50;
  margin-bottom: 5px;
}
h2 {
  color: #3498db;
  border-bottom: 1px solid rgba(0, 128, 0, 0.3);
  padding-bottom: 5px;
}

.me_and_photo {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.me_and_photo img {
  margin-top: 10px;
  border-radius: 50px;
}

.about_me {
  display: flex;
  margin-top: 0.5em;
  gap: 10px;
  flex-direction: column;
}

.about_me span {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section {
  margin-bottom: 20px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;

  gap: 10px;
}
.skill {
  background-color: rgb(247, 236, 236);
  padding: 5px 10px;
  border-radius: 3px;
}
.project {
  margin-bottom: 15px;
}
